*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
    width: 80px;
    margin-right: 45px;
    margin-left: 0px;
}
.navbar li{
    list-style: none;
    margin: 13px 30px;
    padding: 4px 5px;
    font-family: 'Alegreya', serif;
    color: #416a59;
    font-weight: bolder;
    font-size: 28px;
}
.navbar li a{
    text-decoration: none;
    color: #416a59;
    padding: 5px 10px;
}
.navbar li a:hover{
    background-color: #416a59 ;
    color: #f5eec2;
    border-radius: 30px;
}
.navbar ul{
    display: flex;
}
.navbar{
    background-color:#f5eec2 ;
    opacity: 0.8;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    /* justify-content: center;
    align-items: center; */
    height: 525px;



}
.container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./img/bg.jpg') no-repeat center center/cover;
    top:0px;
    z-index: -1;
    opacity: 0.7;
}
.content{
    font-family: 'Baloo 2', cursive;
    font-size: 15px;
    position:absolute; 
    left:30px; 
    top:280px;
    background: linear-gradient(-45deg, #ee7752, #3ce7e7, #1bbb6b, #2370d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
    opacity: 0.8;
    padding: 5px 45px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.org{
    font-family: 'Baloo 2', cursive;
    font-size: 80px;
    color: #00FF66;
    position: absolute;
    top: 150px;
    left: 30px;
}
.org1{
    font-family: 'Baloo 2', cursive;
    font-size: 80px;
    color: #00FF66;
    position: absolute;
    top: 100px;
    left: 30px;
}
.btn{
    font-family: 'Baloo 2', cursive;
    padding: 2px 20px;
    font-size: 25px;
    position: absolute;
    right: 60px;
    border: 4px solid #416a59;
    border-radius: 10px;
    background: #a9c25d;
}
.btn1{
    font-family: 'Baloo 2', cursive;
    padding: 2px 20px;
    font-size: 25px;
    position: absolute;
    top: 450px;
    left: 250px;
    border: 4px solid #416a59;
    border-radius: 10px;
    background: #a9c25d;
}
.btn1:hover{
    background-color: #416a59;
    border: 4px solid #a9c25d;
}
a{
    text-decoration: none;
    color: #416a59;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
.desc{
    font-family: 'Permanent Marker', cursive;
    position: relative;
    top: 150px;
    left: 30px;
    font-size: 23px;
    background-color: #416a59;
    opacity: 0.8;
    color: #f5eec2;
    width: 90%;
    line-height: 40px;
    padding: 10px;
    border-radius: 30px;
}
.desc1{
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 380px;
    left: 80px;
    font-size: 23px;
    background-color: #416a59;
    opacity: 0.8;
    color: #f5eec2;
    width: 70%;
    padding: 10px;
    border-radius: 30px;

}
.contactcontent{
    font-family: 'Baloo 2', cursive;
    font-size: 25px;
    position:absolute; 
    left:30px; 
    top:280px;
    background-color: #39395F;
    color: blanchedalmond;
    border-radius: 30px;
    padding: 10px;
    opacity: 0.8;
    padding: 5px 45px;
}
.contactcontent1{
    font-family: 'Baloo 2', cursive;
    font-size: 25px;
    position:absolute; 
    left:30px; 
    top:380px;
    background-color: #39395F;
    color: blanchedalmond;
    border-radius: 30px;
    padding: 10px;
    opacity: 0.8;
    padding: 5px 45px;
}
.formcontainer{
    width: 55%;
    height: 60%;
    position: absolute;
    top: 200px;
    right: 20px;
    background: chartreuse;
    opacity: 0.7;
    border-radius: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}
.formcontainer input,textarea,select{
    padding: 5px;
    width: 90%;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.formcontainer input[type="submit"]{
    width: 120px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #416a59;
    color: blanchedalmond;
    font-weight: bolder;
    cursor: pointer;
}
.formcontainer label{
    font-family:'Baloo 2', cursive ;

}
